mat-card{
    width: 90%;
/* border: 1px solid red; */
 margin: 0.5rem auto;
 
 h2{
    text-align: center;
    letter-spacing: 3px;
 }
  
}

mat-nav-list{
    margin-top: 1rem;
    a{
        .active-link{
            background-color: rgba($color:white,$alpha:0.2);
        }
    }
}